body {
  margin: opx;
  padding: opx;
 
  font-family:   'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  background: rgb(0,0,0);
  background: linear-gradient(356deg, rgba(0,0,0,1) 6%, rgba(38,0,0,1) 26%, rgba(27,6,0,1) 48%, rgba(26,6,0,1) 67%, rgba(26,6,0,1) 70%, rgba(36,8,0,1) 89%, rgba(91,16,8,1) 100%, rgba(70,9,1,1) 100%, rgba(50,7,1,1) 100%);
}

.light {
  background-color: white;
}

.principal-inicio {
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
